h1 {
        
    text-align: center;
    
    
    
}

* {
 box-sizing: border-box;
}
header{

    background-color: rgba(0, 224, 34, 0.743);
    border: 2px solid darkgreen;
    padding: 35px;
    

}
footer{
    text-align: center;
    background-color: rgba(0, 224, 34, 0.743);
    border: 2px solid darkgreen;
    padding: 35px;
}




nav {

    
    margin: auto;
    width: 50%;
   







}




.hide {
    display: none;
  }

  

  
 .controls{
    
    display: flex;
    justify-content: space-evenly;

 } 

 .controlstwo{

    display: flex;
    justify-content: space-evenly;
    

 }

 

 a {

    color: darkgreen;
 }

 button{

    color: darkgreen;
    background-color: coral;
    border: 1px solid darkgreen;
 }




.backbutton {
    float: left;
    
}

.nextbutton{
    float: right;
    
}

.backbuttontwo {
    float: left;
    color: black;
    
}

.nextbuttontwo{
    float: right;
    color: black;
    
    
}

.currentBtn {

    color: greenyellow;
    
}

.pictures {
    background-color: rgba(0, 224, 34, 0.743);
    border: 2px solid darkgreen;
    margin: auto;
    width: 50%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}
figcaption{
    text-align: center;
    padding: 5px;
}

.gallery{

    background-color: rgba(0, 224, 34, 0.743);
    border: 2px solid darkgreen;
    margin: auto;
    width: 60%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

@media screen and (max-width:720px) {

    .pictures {
        background-color: rgba(0, 224, 34, 0.743);
        border: 2px solid darkgreen;
        margin: auto;
        width: 100%;
        padding: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
   
    
    .gallery{
    
        background-color: rgba(0, 224, 34, 0.743);
        border: 2px solid darkgreen;
        margin: auto;
        width: 100%;
        padding: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }

    nav {

    
        margin: auto;
        width: 100%;
    
    
    }
    

}





img{
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
    animation: fade ease-in-out 1s;
    
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.intro{
    background-color: rgba(0, 224, 34, 0.743);
    border: 2px solid darkgreen;
    margin: auto;
    width: 75%;
    padding: 25px;
   
}
main {
    padding-top: 15px;
    
}

body{
    background-image: url(../images/grass.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h2{
    text-align: center;
    padding-top: 25px;
   
}

p{
    text-align: center;
    
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

a:hover{
    color: white;
}





